<% layout('layouts/boilerplate')%>

<div class="container">

    <div class="row align-items-center justify-content-center">

        <div class="col-sm">

            <div class="card">

                <div class="card-body">

                    <i class="fa-regular fa-user"></i>
                    <h5 class="card-title">أنشاء حساب مستخدم</h5>
                    <a href="/register" class="btn">اضغط هنا</a>
    
                    </div>

            </div>
        
        </div>

        <div class="col-sm">

            <div class="card">

                <div class="card-body">

                <i class="fa-regular fa-building"></i>
                <h5 class="card-title">أنشاء حساب شركة</h5>
                <a href="/company/register" class="btn">اضغط هنا</a>

                </div>

            </div>

        </div>

    </div>

</div>